@import url('../css/style.css');

/* Si l'onglet est actif le rubrique est surligné et violet */
header nav ul li.active a {
    text-decoration: underline;
    color: #6b3eff;
  }
  
p{
    color: var(--whiteColor);
    font-size: 12px;
    font-family: 'cantarell';
    font-weight: normal;
    margin-bottom: 10px; 
}
h1{
    font-family: 'beyno';
    letter-spacing: -4px;
} 
main .wakanda_section{
    background-image: url('../Illustrations-logo/Wakanda/Pantherwakanda1.png');
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

main .wakanda_section .wakanda_header{
    margin-left:100px;
    padding-top: 150px;
    width: 60%;
}
main .wakanda_section .wakanda_header h2{
    text-align: left;
    font-family: 'wakandaforever';
    margin-top: 10px;
}
main .wakanda_section .wakanda_header p{
    font-family: 'cantarell';
    font-size: 12px;
    width: 70%;
    text-align: justify;
}
main .display_section{
    background-image: url('../Illustrations-logo/Wakanda/Pantherwakanda2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
main .display_contents{
    text-align: justify;
    margin: 100px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
main .display_contents .left_side{
    width: 45%;
}
main .display_contents .right_side{
    width: 45%;
}
main .display_contents .right_side  img{
    width: 100%;
}